<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">{{title}}</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="tweets">Tweets</a></li>
                <li class="active"><a href="settings">Settings</a></li>
                <li><a href="about">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="page-title"><h1>Settings for {{title}}</h1></div>

<div id="settings-container" class="container">
  <form action="">
    <div class="form-group">
      <label for="max-tweets">Maximum Tweets:</label>
      <input id="max-tweets" type="max-tweets" class="form-control" placeholder="" name="max-tweets">
    </div>
    <label>Tweet Mode:</label>
    <div class="radio">
        <label><input type="radio" name="optradio">Brief</label></div>
    <div class="radio">
        <label><input type="radio" name="optradio">Verbose</label></div>
    <div class="form-group">
      <label for="user-account-1">User Account 1:</label>
      <input type="user-account-1" class="form-control" id="user-account-1" placeholder="" name="max-tweets">
    </div>
    <div class="form-group">
      <label for="user-account-2">User Account 2:</label>
      <input type="user-account-2" class="form-control" id="user-account-2" placeholder="" name="max-tweets">
    </div>
    <div class="form-group">
      <label for="user-account-3">User Account 3:</label>
      <input type="user-account-3" class="form-control" id="user-account-3" placeholder="" name="max-tweets">
    </div>
    <button id="updateSettingsBtn" class="btn btn-default">Submit</button>
  </form>
</div>

<script>
    
    $(document).ready(function(){
        $("#updateSettingsBtn").click(function(){
            updateSetting();
        });

        populateForm();
    });

    function populateForm() {
        let maxTweets = localStorage.getItem('maxTweets') || "30";
        let userAccountNameA = localStorage.getItem('userAccountNameA');
        $("#max-tweets").val(maxTweets);
    }

    function updateSetting(){
        alert("updateSettings()");
    }

</script>