<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">{{title}}</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="tweets">Tweets</a></li>
                <li class="active"><a href="settings">Settings</a></li>
                <li><a href="about">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="page-title"><h1>Settings for {{title}}</h1></div>

<div id="settings-container" class="container">
  <form action="">
    <div class="form-group">
      <label for="max-tweets">Maximum Tweets:</label>
      <input id="max-tweets" type="max-tweets" class="form-control" placeholder="" name="max-tweets">
    </div>
    <label>Tweet Mode:</label>
    <div class="radio">
        <label><input id="tweet-mode-brief" type="radio" name="optradio">Brief</label></div>
    <div class="radio">
        <label><input id="tweet-mode-extended" type="radio" name="optradio">Extended</label></div>
    <div class="form-group">
      <label for="user-account-1">User Account 1:</label>
      <input id="user-account-1" type="user-account-1" class="form-control" placeholder="" name="max-tweets">
    </div>
    <div class="form-group">
      <label for="user-account-2">User Account 2:</label>
      <input id="user-account-2" type="user-account-2" class="form-control" placeholder="" name="max-tweets">
    </div>
    <div class="form-group">
      <label for="user-account-3">User Account 3:</label>
      <input id="user-account-3" type="user-account-3" class="form-control" placeholder="" name="max-tweets">
    </div>
    <button id="updateSettingsBtn" class="btn btn-default">Submit</button>
  </form>
</div>

<script>
    
    $(document).ready(function(){
        $("#updateSettingsBtn").click(function(){
            updateSetting();
        });

        populateForm();
    });

    function populateForm() {
        // Get values from localStorage
        let maxTweets = localStorage.getItem('maxTweets') || "30";
        let tweetMode = localStorage.getItem('tweetMode') || "extended";
        let userAccountNameA = localStorage.getItem('userAccountNameA') || "appdirect";
        let userAccountNameB = localStorage.getItem('userAccountNameB') || "laughingsquid";
        let userAccountNameC = localStorage.getItem('userAccountNameC') || "techcrunch";

        $("#max-tweets").val(maxTweets);
        if(tweetMode == "extended") {
            $('#tweet-mode-extended').prop('checked', true);
        } else {
            $('#tweet-mode-brief').prop('checked', true);
        }
        $("#tweet-mode").val(tweetMode);
        
        $("#user-account-1").val(userAccountNameA);
        $("#user-account-2").val(userAccountNameB);
        $("#user-account-3").val(userAccountNameC);
    }

    function updateSetting(){
        alert("updateSettings()");
    }

</script>